/* .app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .app-logo {
    height: 40px;
    margin: 0 20px;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
  }
  
  .app-header h2 {
    font-size: 1.5em;
    margin: 10px 0 0;
  }

  
  @media (max-width: 600px) {
    .app-header {
      flex-direction: column;
    }
  
    .app-logo {
      height: 30px;
      margin: 10px 0;
    }
  
    h1 {
      font-size: 1.5em;
    }
  }
   */


   .app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee6ee;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .app-header h1 {
    margin: 0 20px;
    color: #6B5280;
  }
  
  .app-logo {
    width: 50px;
    height: 50px;
  }