* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #007bff;
}

h2 {
  color: #533b68;
}

h3 {
  color: #007bff;
}

.desktop-view {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nutritional-details{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
}

.food-items, .selected-foods {
  flex: 1;
}

.food-items h2, .selected-foods h2 {
  text-align: center;
}

.mobile-view {
  display: none;
}

.actions {
  text-align: center;
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .meal-category-mobile {
    margin-bottom: 20px;
  }
}
